{% block body_html %}

{% block body %}

<div class="container">
    <br />
    <div style="padding-left: 50px;">

        <p style="text-align: justify;">Bonjour, <br /><br />
            Nous avons le plaisir de vous confirmer la validation de votre réservation pour l'entrée du musée du Louvre.
            Vous trouverez ci-dessous le récapitulatif de celle-ci. <br />
            <strong>Attention: </strong> Cet Email fera office de billet d'entrée. Il sera à présenter à l'entrée du musée.
        </p>
        <ul class="list-group ">
            <li class="list-group-item">Type de billet :
                {% if book.period==true %}
                    Vous visitez le Louvre toute la journée !
                {% else %}
                    Nous vous souhaitons une bonne aprés-midi de curiosités !
                {% endif %}
            </li>
            <li class="list-group-item">Nombre de billet(s) : {{ book.numberTicket }}</li>
            <li class="list-group-item"><strong>Date de visite :</strong> {{ book.entry|date ('d/m/Y') }}</li>
            <li class="list-group-item"> <strong>Montant de la commande TTC :</strong> {{ book.totalAmount }} €</li>
            <li class="list-group-item"> <strong>N° :</strong> {{ book.codebooking }}</li>
        </ul>

    </div>
        <div>
            <table class="table table-striped table-dark">
                <tbody>
                {% for ticket in book.tickets %}
                <tr style="background-color:#772953">
                    <th scope="row">
                        <div>
                            <a href="http://www.louvre.fr/">
                                <img src="https://projet04ocr.billeterielouvre.siegfriedchapotin.com/img/logo-louvre.jpg" style="width:200px; padding: 20px"alt="header">
                            </a>
                        </div>
                    </th>
                    <td>
                        <div class="col-md-10" style="margin-left: 20px; margin-right: 20px;">
                            <p style="text-align:right;font-weight: bold; color:white; padding:10px;">
                                <strong>N° Reservation :</strong> {{ book.codebooking }}
                            </p>

                                <div class="card-block" style="border: solid; border-color: #E95420; padding: 15px; border-radius: 10px; background-color:white">
                                    <strong style="color:#E95420; padding:10px;">Nom :</strong> {{ ticket.name|capitalize }}<br>
                                    <strong style="color:#E95420; padding:10px;">Prénom  :</strong> {{ ticket.firstname|capitalize }}<br>
                                    <strong style="color:#E95420; padding:10px;">Date de Naissance :</strong> {{ ticket.birthday|date('d-m-Y') }}<br>
                                    <strong style="color:#E95420; padding:10px;">Prix du billet :</strong> {{ ticket.price|number_format(2, ',', ' ') }} €<br>

                                    {% if  ticket.reduced == 1  %}
                                        <br>
                                        <strong>Tarif réduit :</strong> Oui*
                                    {%endif%}
                                </div>

                        </div>
                        <p style="font-weight: bold; color:white; padding:10px;">
                            * En cas de tarif réduit, il sera nécessaire de présenter le justificatif de la réduction lors de la présentation des billets.
                        </p>
                    </td>
                </tr>
                {% endfor %}
                <br/>
                </tbody>
            </table>

{% endblock %}

{% endblock %}