{% extends 'base.html.twig' %}
{% form_theme bookingForm 'bootstrap_4_layout.html.twig' %}


{% block body %}

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">Étape 1</div>
        <div class="card-body">
            <h5 class="card-title txtxs">Choix du/des billet(s)</h5>
        </div>
    </div>

    {{ form_start(bookingForm) }}



    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3 ">
                <div class="card-header">Jour de visite</div>
                <div class="card-body">
                {{ form_widget(bookingForm.entry) }}
                 </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card border-dark mb-3">
                <div class="card-header">Type de réservation</div>
                <div class="card-body">
                    {{ form_widget(bookingForm.period) }}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="card border-dark mb-3">
                <div class="card-header">Nombre de réservation</div>
                <div class="card-body">
                    {{ form_widget(bookingForm.numberTicket) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <div class="card border-dark mb-3">
            <div class="card-header">Votre courriel</div>
            <div class="card-body">
                {{ form_widget(bookingForm.email.first) }}
                {{ form_errors(bookingForm.email.first) }}
                <br/>
                <p>Confirmez votre courriel</p>
                {{ form_widget(bookingForm.email.second) }}

            </div>
        </div>
        </div>
    </div>
    <div class="block">
        <button type="submit" class="btn btn-primary btn-lg btn-block btnxs">Etape suivante</button>
    </div>

    {{ form_end(bookingForm) }}

{% endblock %}
