{% extends 'base.html.twig' %}



{% block body %}

    <div class="card text-white bg-dark mb-3">
        <div class="card-header">Étape 3</div>
        <div class="card-body">
            <h5 class="card-title txtxs">Commande</h5>
        </div>
    </div>
    <p class="block">
    <p><strong class="text-primary">Votre commande</strong> est bientôt terminée, nous vous invitons à vérifier les
        informations ci-dessous avant règlement.<p/>

    <ul class="list-group ">
        <li class="list-group-item">Date de votre visite : {{ reservation.entry|date ('d/m/Y') }}</li>
        <li class="list-group-item">Type de billet :
            {% if reservation.period==true %}
                Vous visitez le Louvre toute la journée !
            {% else %}
                Nous vous souhaitons une bonne aprés-midi de curiosités !
            {% endif %}
        </li>
        <li class="list-group-item">Nombre de billet(s) : {{ reservation.numberTicket }}</li>
    </ul>
    </p>
    <wbr>
    <h4>Votre commande</h4>

    <div class="table-responsive" id="recap">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th class="text-center" scope="col">Date de naissance</th>
                <th class="text-center" scope="col">Tarif</th>
                <th class="text-center" scope="col">Prix du billet</th>
            </tr>
            </thead>


            <tbody>

            {% for ticket in reservation.tickets %}

                <tr scope="row">
                    <td>{{ ticket.name|upper }}</td>
                    <td>{{ ticket.firstname }}</td>
                    <td class="text-center">{{ ticket.birthday|date ('d/m/Y') }}</td>
                    <td class="text-center">{{ ticket.reduced }}</td>
                    <td class="text-right">{{ ticket.price|number_format(2, ',', ' ') }} €</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="row block card text-white bg-dark mb-3">

            <div class="js-price-amount card-body text-right" data-price ="{{ reservation.totalAmount * 100 }}">
                <h5 class="card-title">Montant Total : {{ reservation.totalAmount }} €</h5>
            </div>
        </div>


        <div class="row block">

            <div class="col-6">
                <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnForm"
                                                                                  href="{{ path('booking_tickets') }}">Etape
                        précédente</a></button>
            </div>

            <div class="col-6">
                <button id="customButton" type="submit" class="btn btn-primary btn-lg btn-block btnxs"><a class="btnForm" href="{{ path('payment_order') }}">Paiement</a></button>
            </div>
        </div>

    </div>
    <div id="stripe" data-stripe-public-key="{{ stripePublicKey }}"></div>



{% endblock %}
