<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Louvre Ticket{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('assets/css/counterLouvre.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker3.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/stripe.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container">

    <div class="imgBilletterie">
        <h1 class="card-header ttlxs">Le Louvre</h1>
    </div>

    <div class="card text-white bg-dark mb-3 cardSizeMax">
        <div class="card-header">
            <h2 class="txtxs"><a class="text-white" href="{{ path('booking') }}">Bienvenue au musée</a></h2>
        </div>
    </div>

    <div class="container-fluide block">
        <div class="row block">
            <div class="text-muted card-subtext card-header block">
                Vous êtes sur la billetterie en ligne du Louvre . Gagnez du temps, procurez vous vos entrées en seulement quelques cliques.  Vous pouvez commander un maximum de six (6) Tickets. Vos Billets seront nominatifs, valables seulement le jour sélectionné et envoyés par courriel.<br/>
                Paiement en ligne par carte bancaire.
            </div>
        </div>

        <div class="row block">
            <div class="col-12 col-md-12 col-sm-12 col-lg-8 text-justify">
                {% block body %}
                {% endblock %}
            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-4 text-justify">
                <div class="card text-white bg-dark mb-3 cardSizeMax">
                    <div class="card-header">Informations pratiques</div>
                    <div class="card-body">
                        <h4 class="card-title">Horaire</h4>
                        <p class="card-text">
                            Ouvert tous les jours de 9h à 18h.
                        </p>
                        <h5 class="card-title"> Fermetures</h5>
                        <p class="card-text">
                            Tous les mardis<br/>
                            Les 1er mai, 1er novembre et 25 décembre
                        </p>
                        <h5 class="card-title">Tarifs</h5>
                        <p class="card-text">
                            Tarif normal :<br/>
                            <a class="text-muted card-subtext block">Plus de 12 ans : 16 euros</a><br/>
                            Tarif enfant* :<br/>
                            <a class="text-muted card-subtext block">De 4 à 11 ans : 8 euros</a><br/>
                            <a class="text-muted card-subtext block">Moins de 4 ans : gratuit</a><br/>
                            Tarif senior* :<br/>
                            <a class="text-muted card-subtext block">A partir de 60 ans : 12 euros</a><br/>
                            Tarif réduit* :<br/>
                            <a class="text-muted card-subtext block">10 euros</a><br/>
                        <p class="card-text">
                            <a class="text-secondary">*Tarifs et accès libres accordés sur présentation d'un justificatif en cours de validité, ou de moins d'un an, nominatif et avec photographie, ou accompagné d'un document d'identité.</a>
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-6">
                <a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV">Mentions légales - CGV</a>
            </div>
            <div class="col-6 text-right">
                Musée du Louvre © 2019
            </div>

        </div>
    </footer>

    {% block javascripts %}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="{{ asset('assets/js/main.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{{ asset('assets/js/stripe.js') }}"></script>

</div>
</body>
</html>


